{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Success</h1>
        <p>Email sent! But if you want you can copy <a href="{{ registration_link }}">this link</a> and send it manually.</p>
    </div>
{% endblock %}
