<div class="dialog hidden transparent">
    <h2 class="drag-handle">
        <span class="status"></span>
        <button type="button" class="btn btn-close">✕</button>
    </h2>
    <div class="dialog-container">
        <form>
            <input type="hidden" name="eventId">
            <div class="form-group mb2">
                <label for="title">Title: </label>
                <input id="title" type="text" name="title">
            </div>

            <div class="form-group mb2">
                <label for="description">Description: </label>
                <textarea name="description" id="description" rows="3"></textarea>
            </div>

            <div class="form-group mb2">
                <label for="startDate">Start date: </label>
                <div class="form-group inline">
                    <input type="date" name="startDate" id="startDate">
                    <label for="startTime">&nbsp;</label>
                    <input type="time" name="startTime" id="startTime">
                </div>
            </div>

            <div class="form-group mb2">
                <label for="endDate">End date: </label>
                <div class="form-group inline">
                    <input type="date" name="endDate" id="endDate">
                    <label for="endTime">&nbsp;</label>
                    <input type="time" name="endTime" id="endTime">
                </div>
            </div>

            <div class="form-group inline mb2 v-center">
                <label for="color">Color:&nbsp;</label>
                <input type="color" name="color" id="color" class="d-none">
                <label for="color" class="color-swatch">
            </div>

            <div class="form-group mb2">
                <label for="author">Author:</label>
                <input id="author" type="text" disabled class="author">
            </div>

            <div class="d-flex">
                <button type="button" class="btn btn-delete">Delete</button>
                <div class="expander"></div>
                <button type="submit" class="btn btn-primary right-aligned">Save</button>
            </div>

        </form>
    </div><!-- .dialog-container -->
</div>
