{% extends 'base.html.twig' %}

{% block title %}Hello Calendar!{% endblock %}

{% block body %}
    <div class="container">
        <div class="calendar">
            <div class="calendar-heading-wrapper">
                <div class="heading-btn btn-prev-month"></div>
                <div class="calendar-heading">
                    {% for day in days_of_week %}
                        <div class="item">{{ day }}</div>
                    {% endfor %}
                </div>
                <div class="heading-btn btn-next-month"></div>
            </div>
            <div class="mb2"></div>
            {% for week in 0..5 %}
                <div class="calendar-row">
                {% for day in 0..6 %}
                    {% set n = week * 7 + day %}
                    <div class="calendar-cell">
                        <span class="day-label">{{ n }}</span>
                        <div class="events-container"></div>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
            {% include 'homepage/_edit_interval.html.twig' %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}

