{% extends 'base.html.twig' %}

{% block title %}Hello Calendar!{% endblock %}

{% block body %}
    <div class="container">
        <table class="calendar">
            <tbody>
                <tr>
                    {% for day in days_of_week %}
                        <th>{{ day }}</th>
                    {% endfor %}
                </tr>
                {% for week in 0..5 %}
                    <tr>
                    {% for day in 0..6 %}
                        {% set n = week * 7 + day %}
                        <td>
                            <div class="calendar-cell">
                                <span class="day-label">{{ n }}</span>
                            </div>
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
