* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    margin: 0;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 5px;
}

.d-flex {
    display: flex;
    align-items: center;
}

.f-right {
    float: right;
}

.v-center {
    align-items: center;
}

.transparent {
    opacity: 0;
}

.t-center {
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.d-none {
    display: none;
}
