.calendar {
    overflow-x: hidden;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
}


.calendar-row {
    display: flex;
}

.calendar-row:nth-child(odd) .calendar-cell{
    background-color: rgba(255, 255, 255, 0.5);
}

.calendar-cell {
    background-color: white;
    min-height: calc(100vh / 7);
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
    color: #ccc;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    width: calc(100% / 7);
}

.calendar-cell.shaded {
    background-color: rgb(229, 255, 254);
}

.calendar-row:nth-child(odd) .calendar-cell.shaded{
    background-color: rgba(229, 255, 255, 0.788);
}

.calendar-cell .events-container {
    position: relative;
    border-top: 1px solid transparent;
    overflow: visible;
    width: 0;
}

.calendar-interval {
    border-radius: 5px;
    border: 1px solid #bbb;
    z-index: 100;
    padding: 5px 4px;
    color: #333;
    text-align: left;
    margin-left: 2px;
    transition: transform;
    transition-duration: 0.5s;
}

.calendar-interval .interval-inner {
    position: relative;
}

.calendar-interval.locked .interval-inner::before {
    content: '';
    position: absolute;
    left: -8px;
    top: -12px;
    width: 10px;
    height: 10px;
    background-image: url('../images/lock.svg');
    background-repeat: no-repeat;
    z-index: 300;
}

.calendar-interval.dragging {
    position: fixed;
    margin: 0;
}

.calendar-interval.selected {
    z-index: 110;
    transform: scale(1.2);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.calendar-interval .status-label {
    font-size: 0.8em;
    display: block;
    margin-bottom: 2px;
}

.day-label {
    font-size: 0.9em;
}

.day-label.this-month {
    color: #000;
}

.day-label.today {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    padding: 2px;
    margin-right: -5px;
}
